.header {
    position: relative;
    background-color: #000;
    padding-top: 12px;
}
.header__top,
.header__content,
.header__top-ul,
.header__bot-ul {
    display: flex;
    align-items: center;
}
.header__top {
    justify-content: space-between;
    margin-bottom: 13px;
}
.header__top-ul li {
    margin-left: 38px;
}
.header__logo {
    margin-left: 250%;
}
.header__description,
.header__item {
    font-family: 'Poppins' , sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    
}
.header__description a:hover,
.header__item a:hover {
    color: #E2B024;
    transition: 0.4s;
}
.header__nav {
    padding:  0;
}
.header__bot-ul {
    transform: translateY(-100%);
    justify-content: space-between;
    padding-left: 0;
    opacity: 0;
    transition: 0.3s;
} 
.header__link{
    font-family: 'ChocolateBox';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 9px;
    color: #FFFFFF;
    transition: 0.4s;
} 
.header__link:hover {
    color: #E2B024;
    border-bottom: 1px solid #E2B024;
   
}
.burger-menu {
    display: flex;
    height: 40px;
    cursor: pointer;
}
.burger-menu span{
    display: block;
    position: relative;
    top: 40%;
    align-items: center;
    
    width: 1.4vw;
    height: 2px;
    background-color: white;
}
.burger-menu span::after,
.burger-menu span::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: white;
  transition: 0.3s;
}
.burger-menu span::after {
  transform: translateY(7px);
}
.burger-menu span::before {
  transform: translateY(-7px);
}
.burger-menu.is-active span{
    height: 0;
}
.burger-menu.is-active span::after{
    transform: rotate(45deg);
}
.burger-menu.is-active span::before {
    transform: rotate(-45deg);
}
.header__bot-ul.is-active{
    transform: translateY(0);
    opacity: 1;
}
hr{
    height: 1px;
    opacity: 0.6;
    margin: 0;
}
.header__hr {
    transform: translateY(-7.5vh);
    transition: 0.4s;
}
.header__hr.is-active {
    transform: translateY(0);
}